.tttk {
    margin-bottom:20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.trangadmin {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New';
    font-weight: 700;
    margin-top: 45px;
}

.docgia{
    text-align:center;
    margin-left:24%;
    margin-top:20px;
}